:root {
  --padding: 1rem;
  --double-padding: calc(var(--padding) * 2);
  --text-animation-duration: 1s;
}

#play-area {
  width: 640px;
  height: 480px;
  position: relative;
  color: white;
  border: 1px solid black;
}

.history-text-area,
.current-text-area,
.canvas {
  display: block;
  position: absolute;
}

.history-text-area,
.current-text-area {
  overflow: hidden;
}

.history-text-area p,
.current-text-area p {
  margin: 0.1rem 0.5rem;
}

.current-text-area p {
  animation: fadeIn var(--text-animation-duration);
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.text-area {
  position: relative;
  width: calc(100% - var(--double-padding));
  height: calc(100% - var(--double-padding));
  inset: var(--padding);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

/* animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
