:root {
  --padding: 1rem;
  --double-padding: calc(var(--padding) * 2);
}

#play-area {
  width: 640px;
  height: 480px;
  position: relative;
  color: white;
}

#history-text-area,
#current-text-area,
#canvas {
  display: block;
  position: absolute;
}

#history-text-area,
#current-text-area {
  width: calc(100% - var(--double-padding));
  height: calc(100% - var(--double-padding));
  padding: var(--padding);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

#history-text-area p,
#current-text-area p {
  margin: 0.1rem 0;
}
